
#serverbutton-toolbarbutton {
	list-style-image: url("chrome://serverbutton/skin/server-large.png");
}

#serverbutton-toolbarbutton[config="true"] {
	list-style-image: url("chrome://serverbutton/skin/add-large.png");
}

toolbar[iconsize="small"] #serverbutton-toolbarbutton {
	list-style-image: url("chrome://serverbutton/skin/server.png");
}

toolbar[iconsize="small"] #serverbutton-toolbarbutton[config="true"] {
	list-style-image: url("chrome://serverbutton/skin/add.png");
}
